# Binaries
**/bin/
bin-int/
Intermediates/

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

Sandbox/imgui_log.txt
Sandbox/imgui.ini
.idea/
Sandbox/Hazel.log
